{
  "plugins": ["jasmine", "protractor"],
  "extends": ["airbnb", "plugin:jasmine/recommended", "plugin:protractor/recommended"],
  "rules": {
    "func-names": ["error", "never"],
    "linebreak-style": 0
  },
  "env": {
    "jasmine": true
  }
}

