lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.*~
pids
logs
results
data
www
.env
.idea
.project
.vscode
.classpath
.DS_Store
.nyc_output
npm-debug.log
node_modules
dump
coverage
./Dockerfile
docker-compose.yaml
*.xcodeproj
timetracker.code-workspace
**/k8s/app.yaml
