extends layout

block content
  p
  table
    tr
      td
        input(type='button', value='Delete all time entries', onclick='deleteAllTimeEntries();')
      td
        input(type='button', value='calculate busytime', onclick='calculateStats();')
      td
        #result
        

