extends layout
block content

    script(type='text/javascript').
        $(document).ready(function() {
            $('#datetimepicker').datetimepicker({
                format:'d.m.Y H:i'
                ,inline:false
                ,lang:'de'
                ,timepicker:true
                ,datepicker:true
            });
            $('#datepicker').datetimepicker({
                format:'d.m.Y'
                ,lang:'de'
                ,inline:false
                ,timepicker:false
                ,datepicker:true
            });
        })


    h3 Bitte Datum und Uhrzeit auswählen
    table
        tr
            td
                input#enter(type='radio' name='direction' value='enter' checked='checked')
                | Kommen <br/>
                input#go(type='radio' name='direction' value='go')
                | Gehen
        tr
            td
                input#datetimepicker(type='text' name='datetime')
        tr
            td
                input(type='button', value='Kommen/Gehen', 
                    onclick='timeentryAtDate($("#datetimepicker").val(), $("input[name=direction]:checked").val());')

    h3 Bitte Datum auswählen
    table
        tr
            td
                input(type='checkbox' name='holiday' id='holiday' checked='checked' )
                | Der Tag ist ein Feiertag/Wochenende?
        tr
            td
                input#datepicker(type='text' name='date')
        tr
            td
                input(type='button', value='Feiertag setzen', 
                    onclick='maintainHoliday($("#datepicker").val(), $("input[name=holiday]:checked").val());')

