extends layout
block content

    script(type='text/javascript').
        $(document).ready(function() {
            $('#datetimepicker').datetimepicker({
                onGenerate:function(ct) {
                    $(this).find('.xdsoft_date.xdsoft_weekend').addClass('xdsoft_disabled');
                },
                format:'d.m.Y H:i'
                ,inline:false
                ,lang:'de'
                ,step:15
                ,dayOfWeekStart:1
                ,timepicker:true
                ,datepicker:true
            });
            $('#datetimepicker').val(moment().format('DD.MM.YYYY HH:mm'));
            
            
            $('#datepicker').datetimepicker({
                onGenerate:function(ct) {
                    $(this).find('.xdsoft_date.xdsoft_weekend').addClass('xdsoft_disabled');
                },
                format:'d.m.Y'
                ,lang:'de'
                ,inline:false
                ,dayOfWeekStart:1
                ,timepicker:false
                ,datepicker:true
            });
            $('#datepicker').val(moment().format('DD.MM.YYYY'));

            $('#month_to_display').val(moment().format('MMMM YYYY'));
            
            nextStatsDay($("#table_stats_day"), $("#month_to_display"), "month", "0");

        })

    h3 Bitte Datum und Uhrzeit auswählen
    table
        tr
            td
                input#enter(type='radio' name='direction' value='enter' checked='checked')
                | Kommen <br/>
                input#go(type='radio' name='direction' value='go')
                | Gehen
        tr
            td
                input#datetimepicker(type='text' name='datetime')
        tr
            td
                input(type='button', value='Kommen/Gehen', 
                    onclick='timeentry($("input[name=direction]:checked").val(), $("#datetimepicker").val());')

    h3 Bitte Datum auswählen
    table
        tr
            td
                input(type='checkbox' name='holiday' id='holiday' checked='checked' )
                | Der Tag ist ein Feiertag/Wochenende?
        tr
            td
                input#datepicker(type='text' name='date')
        tr
            td
                input(type='button', value='Feiertag setzen', 
                    onclick='maintainHoliday($("#datepicker").val(), $("input[id=holiday]:checked").val());')

    table#table_stats_day
        th
            input(type='button', value='<', onclick='nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "-1")')
        th
            input#month_to_display(type='text')
        th
            input(type='button', value='>', onclick='nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "1")')
        th
            input(type='radio', name='time_unit', value='day' onclick='$("#month_to_display").val(moment().format("DD.MM.YYYY")); nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "0")')
            | day
        th
            input(type='radio', name='time_unit', value='week' onclick='$("#month_to_display").val(moment().format("W")); nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "0")')
            | week
        th
            input(type='radio', name='time_unit', value='month' checked, onclick='$("#month_to_display").val(moment().format("MMMM YYYY")); nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "0");')
            | month
