extends layout
block content

    script(type='text/javascript').
        $(document).ready(function() {
            $('#datetimepicker').datetimepicker({
                onGenerate:function(ct) {
                    $(this).find('.xdsoft_date.xdsoft_weekend').addClass('xdsoft_disabled');
                },
                format:'d.m.Y H:i'
                ,inline:false
                ,lang:'de'
                ,step:15
                ,dayOfWeekStart:1
                ,timepicker:true
                ,datepicker:true
            });
            $('#datetimepicker').val(moment().format('DD.MM.YYYY HH:mm'));
            
            
            $('#datepicker').datetimepicker({
                onGenerate:function(ct) {
                    $(this).find('.xdsoft_date.xdsoft_weekend').addClass('xdsoft_disabled');
                },
                format:'d.m.Y'
                ,lang:'de'
                ,inline:false
                ,dayOfWeekStart:1
                ,timepicker:false
                ,datepicker:true
            });
            $('#datepicker').val(moment().format('DD.MM.YYYY'));

        })

    h3 Bitte Datum und Uhrzeit auswählen
    table
        tr
            td
                input#enter(type='radio' name='direction' value='enter' checked='checked')
                | Kommen <br/>
                input#go(type='radio' name='direction' value='go')
                | Gehen
        tr
            td
                input#datetimepicker(type='text' name='datetime')
        tr
            td
                input(type='button', value='Kommen/Gehen', 
                    onclick='timeentry($("input[name=direction]:checked").val(), $("#datetimepicker").val());')

    h3 Bitte Datum auswählen
    table
        tr
            td
                input(type='checkbox' name='holiday' id='holiday' checked='checked' )
                | Der Tag ist ein Feiertag/Wochenende?
        tr
            td
                input#datepicker(type='text' name='date')
        tr
            td
                input(type='button', value='Feiertag setzen', 
                    onclick='maintainHoliday($("#datepicker").val(), $("input[id=holiday]:checked").val());')

