extends layout
block content

  script(type='text/javascript').
    $(document).ready(function() {
      $('#datepick').datepicker({dateFormat: 'yy-mm-dd'});
      $('#timepick').datepicker({dateFormat: 'yy-mm-dd'});
      $('#datetimepicker').datetimepicker({
        format:'d.m.Y H:i',
        lang:'de'
      });
        
      $('#datetimepicker2').datetimepicker({
        format:'d.m.Y H:i',
        lang:'de'
      });
        
      $('#image_button').click(function(){
        alert($('#datetimepicker2').width())
          $('#datetimepicker2').datetimepicker('show');
      });
    })


  form
    input(type='text' name='date' id='datepick')
    input(type='text' name='time' id='timepick')
    input#datetimepicker(type='text' name='datetime')
    input#datetimepicker2(type='text' name='datetime2')
    span(class='input-group-btn')
      button#image_button(class='btn btn-default' type='button')
