extends layout
block content

    script(src='/javascripts/geoloc.js', type='text/javascript')
    #tripmeter
        p Starting Location (lat, lon) &nbsp;
            span#startLat ---
            | &deg;, &nbsp;
            span#startLon ---
            | &deg; &nbsp;

        p Current Location (lat, lon):&nbsp;
            span#currentLat ---
            | &deg;, &nbsp;
            span#currentLon ---
            | &deg;

        p Distance from starting location:&nbsp;
            span#distanceKm
            | km &nbsp;
            span#distanceM
            | m

        p Accuracy:&nbsp;
            span#accuracy
            | m &nbsp;

        p Current Speed:&nbsp;
            span#speed
            | m/s &nbsp;
            span#speedKMH
            | km/h

        p Distance from work:&nbsp;
            span#distanceWorkKm
            | km &nbsp;
            span#distanceWorkM
            | m

        p Distance from home:&nbsp;
            span#distanceHomeKm
            | km &nbsp;
            span#distanceHomeM
            | m

