extends layout

block content
  p
    input(type='button', value='Kommen', onclick='enterNow();')
    input(type='button', value='Gehen', onclick='goNow();')

    //a(href='/list_person', onclick='enterNow();') Load all persons*/

    #result