doctype 5
html
  head
    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/rest.js')

    title= TimeTrack
    link(rel='stylesheet', href='/stylesheets/style.css')

    #{size}  Einträge
    table
      tr
        td
          a(href='/') Home
        td
          a(href='/advanced') Advanced
        td
          a(href='/admin') Admin


  body
    block content