extends layout
block content
    link(rel="stylesheet" type="text/css" href='/stylesheets/xcharts.css' media='all')

    script(src='/javascripts/xcharts.min.js', type='text/javascript')
    script(src='/javascripts/d3.v3.min.js', type='text/javascript')
    
    script(type='text/javascript').
        $(document).ready(function() {
            $('#datepicker').datetimepicker({
                format:'d.m.Y'
                ,lang:'de'
                ,inline:true
                ,dayOfWeekStart:1
                ,timepicker:false
                ,datepicker:true
            });
            $('#datepicker').val(moment().format('DD.MM.YYYY'));

            $('#month_to_display').val(moment().format('MMMM YYYY'));
            
            nextStatsDay($("#table_stats_day"), $("#month_to_display"), "month", "0");

            var tt = document.createElement('div'),leftOffset = -(~~$('html').css('padding-left').replace('px', '') + ~~$('body').css('margin-left').replace('px', '')), topOffset = -32;
            tt.className = 'ex-tooltip';
            document.body.appendChild(tt);

            var data = {
              "xScale": "ordinal",
              "yScale": "linear",
              "main": ""
            };
            var opts = {
                "dataFormatX": function (x) { return d3.time.format('%Y-%m-%d').parse(x); },
                "tickFormatX": function (x) { return d3.time.format('%d.%m')(x); },
                "mouseover": function (d, i) {
                        var pos = $(this).offset();
                        $(tt).text(d3.time.format('%A, %d.%m.%Y')(d.x) + ': ' + d.y).css({top: topOffset + pos.top, left: pos.left + leftOffset}).show();
                },
                "mouseout": function (x) {
                    $(tt).hide();
                }
            };
            busyChartVariable = new xChart('line-dotted', data, '#busyChart', opts);
        })

    table
        tr
            td
                input#datepicker(type='text' name='date')
                input(type='button', value='Auswertung...', onclick='getTimeEntriesByDate(moment($("#datepicker").val(), "DD.MM.YYYYY"));')
        tr
            td
                #data_by_date
            td
                #dialog

    table#table_stats_day
        th
            input(type='button', value='<', onclick='nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "-1")')
        th
            input#month_to_display(type='text')
        th
            input(type='button', value='>', onclick='nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "1")')
        th
            input(type='radio', name='time_unit', value='day' onclick='$("#month_to_display").val(moment().format("ddd DD.MM.YYYY")); nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "0")')
            | day
        th
            input(type='radio', name='time_unit', value='week', onclick='$("#month_to_display").val(moment().format("W")); nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "0")')
            | week
        th
            input(type='radio', name='time_unit', value='month' checked, onclick='$("#month_to_display").val(moment().format("MMMM YYYY")); nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "0");')
            | month
        th
            input(type='radio', name='time_unit', value='year', onclick='$("#month_to_display").val(moment().format("YYYY")); nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "0");')
            | year

    table
        tr
            td
                table
                    tr
                        td
                            span#plannedTime
                            |  hours
                    tr
                        td
                            span#actualTime
                            |  hours
                    tr
                        td
                            span#diffTime
                            |  hours
                    tr
                        td
                            span#averageTime
                            |  hours

            td
                figure#busyChart(style='width: 400px; height: 300px;')

        
            