extends layout
block content
    script(type='text/javascript').
        $(document).ready(function() {
            $('#datepicker').datetimepicker({
                format:'d.m.Y'
                ,lang:'de'
                ,inline:true
                ,dayOfWeekStart:1
                ,timepicker:false
                ,datepicker:true
            });
            $('#datepicker').val(moment().format('DD.MM.YYYY'));

            $('#month_to_display').val(moment().format('MMMM YYYY'));
            
            nextStatsDay($("#table_stats_day"), $("#month_to_display"), "month", "0");

        })
        
        

    table
        tr
            td
                input#datepicker(type='text' name='date')
                input(type='button', value='Auswertung...', onclick='getTimeEntriesByDate(moment($("#datepicker").val(), "DD.MM.YYYYY"));')
        tr
            td
                #data_by_date
            td
                #dialog


    table#table_stats_day
        th
            input(type='button', value='<', onclick='nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "-1")')
        th
            input#month_to_display(type='text')
        th
            input(type='button', value='>', onclick='nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "1")')
        th
            input(type='radio', name='time_unit', value='day' onclick='$("#month_to_display").val(moment().format("ddd DD.MM.YYYY")); nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "0")')
            | day
        th
            input(type='radio', name='time_unit', value='week' onclick='$("#month_to_display").val(moment().format("W")); nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "0")')
            | week
        th
            input(type='radio', name='time_unit', value='month' checked, onclick='$("#month_to_display").val(moment().format("MMMM YYYY")); nextStatsDay($("#table_stats_day"), $("#month_to_display"), $("input[name=time_unit]:checked").val(), "0");')
            | month
