extends layout
block content
    script(type='text/javascript').
        $(document).ready(function() {
            $('#datepicker').datetimepicker({
                format:'d.m.Y'
                ,lang:'de'
                ,inline:true
                ,dayOfWeekStart:1
                ,timepicker:false
                ,datepicker:true
            });
            $('#datepicker').val(moment().format('DD.MM.YYYY'));
        })

    table
        tr
            td
                input(type='button', value='all data from today', onclick='getTimeEntriesByDate(moment());') 
                input(type='button', value='all data from...', onclick='getTimeEntriesByDate(moment($("#datepicker").val(), "DD.MM.YYYYY"));')
                input#datepicker(type='text' name='date')
        tr
            td
                #data_by_date
